<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/srirama.murthy/IdeaProjects/Selenium_Java_Cucumber_TestNG_Project/src/test/java/com/java/selenium/textbox/UsingJavaScriptExecuter.java">
        <classes><class name="com.java.selenium.textbox.UsingJavaScriptExecuter">
            <methods><include name="byUsingJavaScriptExecuter"/></methods>
        </class>
        </classes>
    </test>
</suite>